body {
    background-color:rgb(227, 227, 203);
}

.site {
    background: rgb(118, 118, 221);
    padding: 30px;
    display: flex;
    justify-content: right;
    text-align: right;
}

.site2 {
    padding: 20px;
    display: flex;
    justify-content: left;

}


h1{
    color: red;
}
h2 {
    color: red;
}


.primero {
    display: inline-block;
    background: rgb(118, 118, 221);
    color: grey;
    padding: 10px 30px;
}

.primero:hover{
    background: grey;
}


nav{
    background: rgb(118, 118, 221);
    padding: 5px;
    display: flex;
    justify-content: right;
}

.site3 {
    background: rgb(118, 118, 221);
    padding: 30px;
    display: flex;
    justify-content: center;
}

@media (max-width:600px){

    body{
        flex-direction: column;
        
    }
    nav{
        background:rgb(118, 118, 221);
        flex-direction: column;

    }
}



.primero{
    margin: 10px 22px;
}

.olcutar{
    display: none;
}
